* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: blue;
}

.main-container {
    display: flex;
    margin: 5px;
}

.cont1 {
    height: 650px;
    width: 450px;
    background-color: blue;
}

.cont2 {
    height: 650px;
    width: 900px;
    background-color: blue;
    background-image: url(./pepsi/IMG-20230802-WA0005.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ribs {
    height: 300px;
    width: 430x;
    background-color: blue;
    background-repeat: no-repeat;
    background-image: url(./pepsi/IMG-20230802-WA0008.jpg);
    margin-top: 20px;position: relative;
}

.nacho {
    height: 300px;
    width: 430px;
    background-color: blue;
    background-image: url(./pepsi/IMG-20230802-WA0007.jpg);
    background-repeat: no-repeat;
    margin-top: 10px;position: relative;
}

.text {
    font-size: 20px;
    color: white;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
position: absolute;
bottom: 10%;
left: 25%;}
.text-2{
    font-size: 20px;
    color: white;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
position: absolute;
bottom: 10%;
left: 20%;}
#img{position: absolute;
    bottom: 0;
    right: 0;
}